*{margin: 0; padding: 0;}

.rootWrap{
    width: 100%;
    height: 100vh;
    display: flex;
}

.logoWrap{
    width: 320px;
    height: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoImg{
    width: 95px;
    height: 95px;
    background: url(../img/logo.svg) no-repeat;
    background-size: cover;
    background-position: center;
}

.btnWrap{
    width: calc(100% - 320px);
    height: 100%;
    background-color: #F1F1F1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btnWrap>p{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 50px;
}

.btnWrap>button,.btnWrap>a>button,.btnWrap input{
    width: 300px;
    height: 50px;
    border-radius: 25px;
    border: 0;
    background-color: #112362;
    color: #fff;
    margin-bottom: 20px;
    cursor: pointer;
}

.btnWrap button:active,.btnWrap input:active{
    background-color: #FFE855;
}

.buttonWrap{
    width: 260px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.buttonWrap button{
    width: 45%;
    height: 100%;
    background-color: #112362;
    border-radius: 25px;
    border: 0;
    color: #ffffff;
    font-size: 16px;
}

.exampleIconWrap{
    width: 200px;
}

@media all and (max-width: 960px){
    .rootWrap{
        display: flex;
        flex-direction: column;
    }

    .logoWrap{
        width: 100%;
        height: 120px;
    }

    .logoImg{
        width: 60px;
        height: 60px;
    }

    .btnWrap{
        width: 100%;
        height: calc(100% - 120px);
    }

    .btnWrap>button,.btnWrap>a{
        max-width: 300px;
        width: 80%;
    }

    .btnWrap>a>button{
        width: 100%;
    }

    .btnWrap input{
        width: 240px;
    }

    .buttonWrap{
        max-width: 260px;
        width: 80%;
    }

}